<form name="registerForm">
  <div class="list">
    <label class="item item-input item-floating-label">
      <span class="input-label">Email</span>
      <input type="email" placeholder="Email" required ng-model="user.email">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">First Name</span>
      <input type="text" placeholder="First Name" required ng-model="user.first_name">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Last Name</span>
      <input type="text" placeholder="Last Name" required ng-model="user.last_name">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Password</span>
      <input type="password" placeholder="Password" required ng-model="user.password">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label">Confirm Password</span>
      <input type="password" placeholder="Password Confirmation" required ng-model="user.password_confirmation">
    </label>
    <div class="submit-box">
      <button class="button button-positive" ng-click="vm.register(user)"> Register </button>
    </div>
  </div>
</form>
