<div id="task-lists">
  <div class="list">
    <div class="item item-button-right" ng-repeat="task in vm.tasks track by $index">
      {{ task.description }}
      <div class="buttons">
        <button class="button button-positive" ng-hide="task.complete" ng-click="vm.markTask(task, $index)">
          <i class="icon ion-checkmark-round"></i>
        </button>
        <button class="button button-energized" ng-hide="!task.complete" ng-click="vm.markTask(task, $index)">
          <i class="icon ion-close-round"></i>
        </button>
        <button class="button button-assertive" ng-click="vm.deleteTask(task, $index)">
          <i class="icon ion-trash-a"></i>
        </button>
      </div>
    </div>
  </div>
</div>
